* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.logo {
  font-size: 40px;
  padding: 5px;
}
.side-bar {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: end;

  width: 100%;
}
.cross,
.nav_icon_side {
  height: 100%;
  width: 25%;
  padding: 20px;
  font-size: large;
  cursor: pointer;
  background-color: aliceblue;
  opacity: 0.8;
  border-bottom: 1px solid black;
}
.right_item {
  display: flex;
  padding: 20px;
}
.humberger,
.nav_icon {
  padding: 20px;
  font-size: large;
  cursor: pointer;
}

.main {
  display: flex;
}
.left {
  width: 50%;
}
.left img {
  width: 100%;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
}
.tittle {
  font-size: 25px;
}

.start_btn {
  padding: 20px;
  border-radius: 5px;
  font-size: large;
  background-color: rgb(96, 145, 165);
  color: white;
  border: rgb(96, 145, 165);
  width: 50%;
  cursor: pointer;
  text-align: center;
}
.bttn {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer {
  background: gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .tittle {
    font-size: 50px;
  }
  .subtittle {
    font-size: 20px;
  }
  img {
    height: 550px;
  }
  .humberger {
    display: none;
  }
}
@media (max-width: 992px) {
  .main {
    display: block;
  }
  .left {
    width: 100%;
    border: none;
  }
  .right {
    width: 100%;
    align-items: flex-start;
    border: none;
  }
  img {
    height: 380px;
  }

  .nav_icon {
    display: none;
  }
}
